*{
    box-sizing: border-box;
}
body{
    background-image: url(backgroundImage.jpg);
    background-size:cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 0px 0px 8px;
    color: rgb(172, 0, 0);
}
.container{
    display: flex;
}
.container .main{
    text-align: center;
}
.title h1{
    font-size: 100px;
}
.numbers{
    font-size: 90px;
    font-weight: bold;
}
 .buttons button{
    background: none;
    border: 8px solid;
    border-radius: 15px;
    font-size: 45px;
    font-weight: bold;
    padding: 15px;
    margin: 10px;
    text-shadow: 0px 0px 8px;
    box-shadow: 0px 0px 15px 0px inset,1px 0px 8px 3px;
    color: rgb(172, 0, 0);
}
@media screen and (max-width: 635px) {
    .title h1{
        font-size: 80px;
    }
    .numbers{
        font-size: 60px;
    }
    .buttons button{
        font-size: 35px;
    }
}
